{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
[Web](https://ipark-cs.github.io) |
[Linkedin](https://www.linkedin.com/in/inheepark) |
[GitHub](https://github.com/ipark-CS) |
[GitLab](https://gitlab.com/ipark)
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        <img src="/img/logo.png" width="630">
        {{.Content}}
      </div>
    </main>
{{ end }}

